html {
    background-color: #1d1d1d;
}

header {
    margin: 0 auto;
    text-align: center;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 2rem;
}

.contact {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.contact > p {
    display: block;
    padding: 0;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.contact > a {
    text-decoration: none;
    margin: 0 15px;
}

.contact > a > img {
    filter: brightness(85%);
}

.contact > a > img:hover {
    filter: brightness(100%);
}

.contact > a:focus {
    outline: none;
}

body {
    color: #fff;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.description > hr {
    width: 50%;
}

.description > p {
    text-align: center;
}

.content > hr {
    width: 50%;
}

body > a {
    font-size: 1rem;
}

.content {
    text-align: center;
    max-width: 75%;
    margin: 0 auto;
}

a {
    color: white;
}
a:focus {
    outline:none;
}

#programming > img {
    border: 0.5px solid white;
}

footer > p {
    text-align: center;
    font-size:12px;
}
